<div class="container main-container">
    <h4>Usuário</h4>
    <hr />
    <form novalidate (ngSubmit)="adicionarAlterarUsuario()" [formGroup]="cadastroForm">
        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control" id="firstName" type="text" placeholder="Nome" formControlName="firstName"
                    [ngClass]="{'is-invalid': displayMessage.firstName}"/>
                    <span class="text-danger" *ngIf="displayMessage.firstName">
                        <p [innerHTML]="displayMessage.firstName"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control" id="lastName" type="text" placeholder="Sobrenome" formControlName="lastName"
                    [ngClass]="{'is-invalid': displayMessage.lastName}"/>
                    <span class="text-danger" *ngIf="displayMessage.lastName">
                        <p [innerHTML]="displayMessage.lastName"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control" id="cpf" type="text" placeholder="CPF" formControlName="cpf"
                    [ngClass]="{'is-invalid': displayMessage.cpf}"/>
                    <span class="text-danger" *ngIf="displayMessage.cpf">
                        <p [innerHTML]="displayMessage.cpf"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control" id="dataNascimento" type="text" placeholder="Data de Nascimento" formControlName="dataNascimento"
                    [ngClass]="{'is-invalid': displayMessage.dataNascimento}"/>
                    <span class="text-danger" *ngIf="displayMessage.dataNascimento">
                        <p [innerHTML]="displayMessage.dataNascimento"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control" id="email" type="text" placeholder="E-mail" formControlName="email"
                    [ngClass]="{'is-invalid': displayMessage.email}"/>
                    <span class="text-danger" *ngIf="displayMessage.email">
                        <p [innerHTML]="displayMessage.email"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control" id="situacao" type="text" placeholder="Situação" formControlName="situacao"
                    [ngClass]="{'is-invalid': displayMessage.situacao}"/>
                    <span class="text-danger" *ngIf="displayMessage.situacao">
                        <p [innerHTML]="displayMessage.situacao"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control" id="crmv" type="text" placeholder="CRMV" formControlName="crmv"
                    [ngClass]="{'is-invalid': displayMessage.crmv}"/>
                    <span class="text-danger" *ngIf="displayMessage.crmv">
                        <p [innerHTML]="displayMessage.crmv"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control" id="usuario" type="text" placeholder="Usuário" formControlName="usuario"
                    [ngClass]="{'is-invalid': displayMessage.usuario}"/>
                    <span class="text-danger" *ngIf="displayMessage.usuario">
                        <p [innerHTML]="displayMessage.usuario"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control" id="roles" type="text" placeholder="Roles" formControlName="roles"
                    [ngClass]="{'is-invalid': displayMessage.roles}"/>
                    <span class="text-danger" *ngIf="displayMessage.roles">
                        <p [innerHTML]="displayMessage.roles"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control" id="senha" type="password" placeholder="Senha" formControlName="senha"
                        [ngClass]="{'is-invalid': displayMessage.senha}"/>
                    <span class="text-danger" *ngIf="displayMessage.senha">
                        <p [innerHTML]="displayMessage.senha"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control" id="senhaConfirmacao" type="password" placeholder="Confirme a Senha" formControlName="senhaConfirmacao"
                    [ngClass]="{'is-invalid': displayMessage.senhaConfirmacao}"/>
                    <span class="text-danger" *ngIf="displayMessage.senhaConfirmacao">
                        <p [innerHTML]="displayMessage.senhaConfirmacao"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <span><button class="btn btn-success" id="Registrar" [disabled]="!cadastroForm.valid" type="submit">Salvar</button></span>
                </div>
            </div>
        </div>
    </form>
</div>